{% if fewshots -%}
{% for item in examples -%}
{% if language == 'en' -%}
Given that {{ item['premise'] }} Does it follow that {{ item['hypothesis'] }} Yes, no, or maybe?
{% elif language == 'de' -%}
Vorausgesetzt, dass {{ item['premise'] }} Ergibt sich daraus, dass {{ item['hypothesis'] }} Ja, nein, oder vielleicht?
{% elif language == 'bg' -%}
Като се има предвид, че {{ item['premise'] }} следва ли, че {{ item['hypothesis'] }} Да, не или може би?
{% elif language == 'el' -%}
Δεδομένου ότι {{ item['premise'] }} προκύπτει ότι {{ item['hypothesis'] }} Ναι, όχι, ή ίσως;
{% elif language == 'es' -%}
Dado que {{ item['premise'] }} ¿Se deduce que {{ item['hypothesis'] }} ¿Sí, no o tal vez?
{% elif language == 'fr' -%}
Étant donné que {{ item['premise'] }} Est-ce qu'il s'ensuit que {{ item['hypothesis'] }} Oui, non, ou peut-être ?
{% elif language == 'ru' -%}
Учитывая, что {{ item['premise'] }} следует ли из этого, что {{ item['hypothesis'] }} Да, нет или возможно?
{% elif language == 'tr' -%}
Verilen {{ item['premise'] }} Buradan {{ item['hypothesis'] }} sonucu çıkar mı? Evet mi, hayır mı, yoksa belki mi?
{% elif language == 'zh' -%}
鉴于 {{ item['premise'] }}是否可以得出 {{ item['hypothesis'] }}是，不是，还是可能？
{% elif language == 'ar' -%}
بالنظر إلى أن {{ item['premise'] }} هل يتبع ذلك {{ item['hypothesis'] }} نعم ، لا ، أو ربما؟
{% elif language == 'hi' -%}
यह देखते हुए कि {{ item['premise'] }} क्या यह उस {{ item['hypothesis'] }} का अनुसरण करता है हाँ, नहीं, या हो सकता है?
{% elif language == 'sw' -%}
Kwa kuzingatia kwamba {{ item['premise'] }} Je, inafuata kwamba {{ item['hypothesis'] }} Ndiyo, hapana, au labda?
{% elif language == 'th' -%}
ระบุว่า {{ item['premise'] }} เป็นไปตามนั้น {{ item['hypothesis'] }} ใช่ ไม่ใช่ หรืออาจจะ?
{% elif language == 'ur' -%}
یہ دیکھتے ہوئے کہ {{ item['premise'] }} کیا یہ اس {{ item['hypothesis'] }} کی پیروی کرتا ہے ہاں، نہیں، یا شاید؟
{% elif language == 'vi' -%}
Cho rằng {{ item['premise'] }} Nó có tuân theo điều đó {{ item['hypothesis'] }} Có, không, hoặc có thể không?
{% endif -%}
{{ item['label_text'] }}

{% endfor -%}
{% endif -%}
{% if language == 'en' -%}
Given that {{ data['premise'] }} Does it follow that {{ data['hypothesis'] }} Yes, no, or maybe?
{% elif language == 'de' -%}
Vorausgesetzt, dass {{ data['premise'] }} Ergibt sich daraus, dass {{ data['hypothesis'] }} Ja, nein, oder vielleicht?
{% elif language == 'bg' -%}
Като се има предвид, че {{ data['premise'] }} следва ли, че {{ data['hypothesis'] }} Да, не или може би?
{% elif language == 'el' -%}
Δεδομένου ότι {{ data['premise'] }} προκύπτει ότι {{ data['hypothesis'] }} Ναι, όχι, ή ίσως;
{% elif language == 'es' -%}
Dado que {{ data['premise'] }} ¿Se deduce que {{ data['hypothesis'] }} ¿Sí, no o tal vez?
{% elif language == 'fr' -%}
Étant donné que {{ data['premise'] }} Est-ce qu'il s'ensuit que {{ data['hypothesis'] }} Oui, non, ou peut-être ?
{% elif language == 'ru' -%}
Учитывая, что {{ data['premise'] }} следует ли из этого, что {{ data['hypothesis'] }} Да, нет или возможно?
{% elif language == 'tr' -%}
Verilen {{ data['premise'] }} Buradan {{ data['hypothesis'] }} sonucu çıkar mı? Evet mi, hayır mı, yoksa belki mi?
{% elif language == 'zh' -%}
鉴于 {{ data['premise'] }}是否可以得出 {{ data['hypothesis'] }}是，不是，还是可能？
{% elif language == 'ar' -%}
بالنظر إلى أن {{ data['premise'] }} هل يتبع ذلك {{ data['hypothesis'] }} نعم ، لا ، أو ربما؟
{% elif language == 'hi' -%}
यह देखते हुए कि {{ data['premise'] }} क्या यह उस {{ data['hypothesis'] }} का अनुसरण करता है हाँ, नहीं, या हो सकता है?
{% elif language == 'sw' -%}
Kwa kuzingatia kwamba {{ data['premise'] }} Je, inafuata kwamba {{ data['hypothesis'] }} Ndiyo, hapana, au labda?
{% elif language == 'th' -%}
ระบุว่า {{ data['premise'] }} เป็นไปตามนั้น {{ data['hypothesis'] }} ใช่ ไม่ใช่ หรืออาจจะ?
{% elif language == 'ur' -%}
یہ دیکھتے ہوئے کہ {{ data['premise'] }} کیا یہ اس {{ data['hypothesis'] }} کی پیروی کرتا ہے ہاں، نہیں، یا شاید؟
{% elif language == 'vi' -%}
Cho rằng {{ data['premise'] }} Nó có tuân theo điều đó {{ data['hypothesis'] }} Có, không, hoặc có thể không?
{% endif -%}