{% if fewshots -%}
{% for item in examples -%}
{% if language == 'en' -%}
Given {{ item['premise'] }} Should we assume that "{{ item['hypothesis'] }}" is true? Yes, no, or maybe?
{% elif language == 'de' -%}
Gegeben {{ item['premise'] }} Sollten wir annehmen, dass "{{ item['hypothesis'] }}" wahr ist? Ja, nein, oder vielleicht?
{% elif language == 'bg' -%}
Дадено {{ item['premise'] }} Трябва ли да приемем, че "{{ item['hypothesis'] }}" е вярно? Да, не или може би?
{% elif language == 'el' -%}
Δεδομένου {{ item['premise'] }} Θα πρέπει να υποθέσουμε ότι "{{ item['hypothesis'] }}" είναι αληθές; Ναι, όχι, ή ίσως;
{% elif language == 'es' -%}
Dado {{ item['premise'] }} ¿Deberíamos asumir que "{{ item['hypothesis'] }}" es cierta? ¿Sí, no, o tal vez?
{% elif language == 'fr' -%}
Étant donné {{ item['premise'] }} Devons-nous supposer que "{{ item['hypothesis'] }}" est vrai ? Oui, non, ou peut-être ?
{% elif language == 'ru' -%}
Учитывая {{ item['premise'] }} Должны ли мы считать, что "{{ item['hypothesis'] }}" истинно? Да, нет или может быть?
{% elif language == 'tr' -%}
Verilen {{ item['premise'] }} "{{ item['hypothesis'] }}" ifadesinin doğru olduğunu varsaymalı mıyız? Evet mi, hayır mı, yoksa belki mi?
{% elif language == 'zh' -%}
鉴于 {{ item['premise'] }} 的情况我们应该假设 "{{ item['hypothesis'] }}" 是真的吗？是的，不是，还是也许？
{% elif language == 'ar' -%}
بالنظر إلى {{ item ['premise'] }} هل يجب أن نفترض أن "{{ item ['hypothesis'] }}" صحيحة؟ نعم ، لا ، أو ربما؟
{% elif language == 'hi' -%}
दिए गए {{ item['premise'] }} क्या हमें मान लेना चाहिए कि "{{ item['hypothesis'] }}" सच है? हाँ, नहीं, या शायद?
{% elif language == 'sw' -%}
Kwa kuzingatia {{ item['premise'] }} Je, tunapaswa kudhani kuwa "{{ item['hypothesis'] }}" ni kweli? Ndio, hapana, au labda?
{% elif language == 'th' -%}
จาก {{ item['premise'] }} เราควรถือว่า "{{ item['hypothesis'] }}" เป็นจริงหรือไม่ ใช่ ไม่ใช่ หรืออาจจะ?
{% elif language == 'ur' -%}
دیا گیا {{ item['premise'] }} کیا ہمیں فرض کرنا چاہیے کہ "{{ item['hypothesis'] }}" سچ ہے؟ ہاں، نہیں، یا شاید؟
{% elif language == 'vi' -%}
Với {{ item['premise'] }} Chúng ta có nên cho rằng "{{ item['hypothesis'] }}" là đúng không? Có, không, hoặc có thể?
{% endif -%}
{{ item['label_text'] }}

{% endfor -%}
{% endif -%}
{% if language == 'en' -%}
Given {{ data['premise'] }} Should we assume that "{{ data['hypothesis'] }}" is true? Yes, no, or maybe?
{% elif language == 'de' -%}
Gegeben {{ data['premise'] }} Sollten wir annehmen, dass "{{ data['hypothesis'] }}" wahr ist? Ja, nein, oder vielleicht?
{% elif language == 'bg' -%}
Дадено {{ data['premise'] }} Трябва ли да приемем, че "{{ data['hypothesis'] }}" е вярно? Да, не или може би?
{% elif language == 'el' -%}
Δεδομένου {{ data['premise'] }} Θα πρέπει να υποθέσουμε ότι "{{ data['hypothesis'] }}" είναι αληθές; Ναι, όχι, ή ίσως;
{% elif language == 'es' -%}
Dado {{ data['premise'] }} ¿Deberíamos asumir que "{{ data['hypothesis'] }}" es cierta? ¿Sí, no, o tal vez?
{% elif language == 'fr' -%}
Étant donné {{ data['premise'] }} Devons-nous supposer que "{{ data['hypothesis'] }}" est vrai ? Oui, non, ou peut-être ?
{% elif language == 'ru' -%}
Учитывая {{ data['premise'] }} Должны ли мы считать, что "{{ data['hypothesis'] }}" истинно? Да, нет или может быть?
{% elif language == 'tr' -%}
Verilen {{ data['premise'] }} "{{ data['hypothesis'] }}" ifadesinin doğru olduğunu varsaymalı mıyız? Evet mi, hayır mı, yoksa belki mi?
{% elif language == 'zh' -%}
鉴于 {{ data['premise'] }} 的情况我们应该假设 "{{ data['hypothesis'] }}" 是真的吗？是的，不是，还是也许？
{% elif language == 'ar' -%}
بالنظر إلى {{ data['premise'] }} هل يجب أن نفترض أن "{{ data['hypothesis'] }}" صحيحة؟ نعم ، لا ، أو ربما؟
{% elif language == 'hi' -%}
दिए गए {{ data['premise'] }} क्या हमें मान लेना चाहिए कि "{{ data['hypothesis'] }}" सच है? हाँ, नहीं, या शायद?
{% elif language == 'sw' -%}
Kwa kuzingatia {{ data['premise'] }} Je, tunapaswa kudhani kuwa "{{ data['hypothesis'] }}" ni kweli? Ndio, hapana, au labda?
{% elif language == 'th' -%}
จาก {{ data['premise'] }} เราควรถือว่า "{{ data['hypothesis'] }}" เป็นจริงหรือไม่ ใช่ ไม่ใช่ หรืออาจจะ?
{% elif language == 'ur' -%}
دیا گیا {{ data['premise'] }} کیا ہمیں فرض کرنا چاہیے کہ "{{ data['hypothesis'] }}" سچ ہے؟ ہاں، نہیں، یا شاید؟
{% elif language == 'vi' -%}
Với {{ data['premise'] }} Chúng ta có nên cho rằng "{{ data['hypothesis'] }}" là đúng không? Có, không, hoặc có thể?
{% endif -%}